<div id="profileWrapper">

 <% for a in [:notice, :alert, :error, :greeting] do if !flash[a].nil? %>
      <div id="flash"><b><%= flash[a] %></b></div>
    <% end %>
    <% end %>
	<div id="profileSidebar">
		<% if current_user != nil %>
			<div id="profilePic"></div>
			<ul id="sidebarLinks">
				<li id="userProfileWelcome">Hello! @<%= current_user.uname %></li>
				<!-- <li><a href="/profile_edit">Edit Profile</a></li> -->
				<li id="followinglist">Following</li>
				<li><div id="slidedown">  <% for a in followinglistgenerator(current_user, current_user.id) %>
	                                      <%= "<a href='/users/#{a.following_id}'> #{User.find(a.following_id).uname} </a>" %>
	                                      <br>
	                                      <% end %> 
				 </div></li>
				<li id="followerlist">Followers</li>
				<li><div id="slidedown2">  <% for a in followerlistgenerator(current_user, current_user.id) %>
	                                     <%= "<a href='/users/#{a.follower_id}'> #{User.find(a.follower_id).uname} </a>" %>
	                                      <br>
	                                      <% end %> 
				 </div></li>
				 <li><a href="#">My Posts</a></li>
			</ul>
		<% else %>
			<ul>
				<li>Already A Member?
				<br><a href="/">Sign in</a></li>
				<li>Want to join?
				<br><a href="/sign_up">Sign up</a></li>
			</ul>
		<% end %>
	</div>
	
	<div id="profileEditContent">
		<h2>Users</h2>
	

	</div>
</div>