<div id="signInFormWrapper">
	<form id="signInForm" method="POST" action="/sign_in">
		<label for="uname">Username</label>
		<input type="text" name="[user]uname">
		<label for="pwd">Password</label>
		<input type="password" name="[user]pwd">
		<input type="submit">
	</form>
</div>	