
<!-- <div id="signInFormWrapper">
	<form id="signInForm" method="POST" action="/sign_in">
		<label for="uname">Username</label>
		<input type="text" name="[user]uname">
		<label for="pwd">Password</label>
		<input type="password" name="[user]pwd">
		<input type="submit">
	</form>
</div>	 -->

<form method='POST' action='/sign_in'>
     <h1>Sign In</h1>
  <div>
    <input type="text" name = "[user]uname"required/>
    <label>User Name</label>
  </div>
  <div>
    <input type="text" name ="[user]pwd" required/>
    <label>Password</label>
  </div>
  
  
     <button>Submit</button>
     </form>
