<form method='POST' action='/sign_in'>
     <h1>Sign In</h1>
  <div>
    <input type="text" name = "[user]uname"required/>
    <label>User Name</label>
  </div>
  <div>
    <input type="text" name ="[user]pwd" required/>
    <label>Password</label>
  </div>
  
  
     <button>Submit</button>
     </form>