<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Pet Lovers</title>
	<link rel="stylesheet" type="text/css" href="/main.css">
	<link rel="stylesheet" type="text/css" href="/fancyform.css">
</head>
<body>

	<div id="wrapper">

		<%=yield%>

		<div id="header">
			<a href="/"><img id="logo" src="images/logo.png"></a>
			<ul>
				<li><a href="/profile">My Posts</a></li>
				<li><a href="/profile">My Profile</a></li>
				<li><a href="/">Sign In</a></li>
			</ul>
		</div>

	</div>
	
</body>
</html>