<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Pet Lovers</title>
	<link rel="stylesheet" type="text/css" href="/main.css">
	<link rel="stylesheet" type="text/css" href="/fancyform.css">
</head>
<body>

	<div id="wrapper">

		<%=yield%>

		<% for a in [:notice, :alert, :error, :greeting] do if !flash[a].nil? %>
			<div><%= flash[a] %></div>
		<% end %>
		<% end %>

		<div id="header">
			<h1><a href="/">Pet Lovers</a></h1>
			<ul>
				<li><a href="#">My Posts</a></li>
				<li><a href="#">My Profile</a></li>
				<li><a href="#">Sign In</a></li>
			</ul>
		</div>

	</div>
	
</body>
</html>