<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<title>Tails</title>

	<link rel="stylesheet" type="text/css" href="/main.css">
	<link rel="stylesheet" type="text/css" href="/fancyform.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="/myscript.js"></script>

</head>
<body>

	<div id="wrapper">

		<%=yield%>

		<div id="header">
		    <% if session[:user_id] != nil %> 
			<a href="/profile"><img id="logo" src="images/logo.png"></a>
			<% else %>
			<a href="/"><img id="logo" src="images/logo.png"></a>
			<% end %>
			<ul>
				<li><a href="/profile">My Posts</a></li>
				<li><a href="/profile">My Profile</a></li>
				<li> <% if session[:user_id] != nil %> 
                     <a href="/sign_out"> <%= "Sign Out" %></a>
                   <% else %>
				  <a href="/"> <%= "Sign In" %> </a>
				 
				  <% end %>
				  </li>
			</ul>
		</div>

	</div>
	
</body>
</html>