


<!-- <div>
    <textarea id="write"></textarea>
    <input id="post_submit" type="submit" value="Submit"> 
</div>
<div id="feed">
<<<<<<< HEAD
<div class="post" id="f10">#10</div>
<div class="post" id="f2">#2 </div>
<div class="post" id="f3"></div>
<div class="post" id="f4"></div>
<div class="post" id="f5"></div>
<div class="post" id="f6"></div>
<div class="post" id="f7"></div>
<div class="post" id="f8"></div>
<div class="post" id="f9"></div>
<div class="post" id="f1"> #1</div>

</div> -->

<% if Postgenerator(current_user,0) == nil %>
<div></div>
<% else %>
<div><%=  Postgenerator(current_user,0).body     %></div>
<% end %>

<% if Postgenerator(current_user,1) == nil %>
<div></div>
<% else %>
<div ><%=  Postgenerator(current_user,1).body     %></div>
<% end %>


<div id="profileWrapper">

 <% for a in [:notice, :alert, :error, :greeting] do if !flash[a].nil? %>
      <div id="flash"><b><%= flash[a] %></b></div>
    <% end %>
    <% end %>
	<div id="profileSidebar">
		<div id="profilePic"></div>
		<ul id="sidebarLinks">
			<li id="userProfileWelcome">USERNAME HERE</li>
			<li><a href="/profile_edit">Edit Profile</a></li>
			<li>Following</li>
			<li>Followers</li>
		</ul>
	</div>
	<div id="postFeed">
		<form id="makePost" method='POST' action='/profile'>
			<textarea id="write" name="body" placeholder="Start typing your new post here..."></textarea>
			<br/>
			<input formMethod='POST' formAction='/profile' id="post_submit" type="submit" value="Post" >
		</form>
		<div id="feed">
			<div class="post" id="f10">
				<ul class="postDetails">
						<li class="postsUname">Username</li>
						<li class="postsDatetime">Datetime</li>
				</ul>
				<div class="postsBody">
					#10 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum amet natus eaque explicabo incidunt reiciendis ex id iusto, molestias, dolore consequuntur beatae nostrum saepe ipsum culpa magni! Pariatur quasi est rerum dolores, odio nam libero iure quia perspiciatis eius ducimus corrupti, molestiae dolore fugiat voluptatum commodi eos harum quaerat ratione.
				</div>
			</div>
			<div class="post" id="f2">
			<ul class="postDetails">
						<li class="postsUname">Username</li>
						<li class="postsDatetime">Datetime</li>
				</ul>
				<div class="postsBody">
					#10 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum amet natus eaque explicabo incidunt reiciendis ex id iusto, molestias, dolore consequuntur beatae nostrum saepe ipsum culpa magni! Pariatur quasi est rerum dolores, odio nam libero iure quia perspiciatis eius ducimus corrupti, molestiae dolore fugiat voluptatum commodi eos harum quaerat ratione.
				</div></div>
			<div class="post" id="f3">#3</div>
			<div class="post" id="f4">#4</div>
			<div class="post" id="f5">#5</div>
			<div class="post" id="f6">#6</div>
			<div class="post" id="f7">#7</div>
			<div class="post" id="f8">#8</div>
			<div class="post" id="f9">#9</div>
			<div class="post" id="f1"></div>
		</div>
	</div>
</div>

