


<div>
    <textarea id="write"></textarea>
    <input id="post_submit" type="submit" value="Submit"> 
</div>
<div id="feed">
<div class="post" id="f1">adhalkdhasdlkha dalkdjhas ldkj dlkahsd</div>
<div class="post" id="f2">askdjhasldkhasdl laksjdh aslkdjhasdlkjh </div>
<div class="post" id="f3"></div>
<div class="post" id="f4"></div>
<div class="post" id="f5"></div>
<div class="post" id="f6"></div>
<div class="post" id="f7"></div>
<div class="post" id="f8"></div>
<div class="post" id="f9"></div>
<div class="post" id="f10"></div>

</div>

<div id="profileWrapper">
	<div id="profileSidebar">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus fugit vero ipsam delectus perferendis sed, repudiandae numquam maxime, asperiores quos!</div>
	<div id="postFeed">thtkjfgkljbfdgjkbweg Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga incidunt molestias ex consequuntur, aspernatur quia ea inventore aperiam, tenetur ipsam odit natus alias mollitia ab nesciunt nostrum necessitatibus perferendis nobis illum doloremque, optio laboriosam! Eveniet vel, dolorum accusamus quae saepe quod, nulla iste, illo labore officiis ad ullam molestiae nisi.</div>
</div>

