

<div>
    <textarea id="write"></textarea>
    <input id="post_submit" type="submit" value="Submit"> 
</div>
<div id="feed">
<div class="post" id="f1">adhalkdhasdlkha dalkdjhas ldkj dlkahsd</div>
<div class="post" id="f2">askdjhasldkhasdl laksjdh aslkdjhasdlkjh </div>
<div class="post" id="f3"></div>
<div class="post" id="f4"></div>
<div class="post" id="f5"></div>
<div class="post" id="f6"></div>
<div class="post" id="f7"></div>
<div class="post" id="f8"></div>
<div class="post" id="f9"></div>
<div class="post" id="f10"></div>

</div>

