<form method='POST' action='/sign_up'>
     <h2>Sign Up Here</h2>
  <div>
    <input type="text" name = "[user]uname"required/>
    <label>User Name</label>
  </div>
  <div>
    <input type="password" name ="[user]pwd" required/>
    <label>Password</label>
  </div>
  <div class="question">
    <input type="text" name ="[user]email" required/>
    <label>Email</label>
  </div>
  
     <button>Create</button>
     </form>