

$red:rgba(255,74,86,1)

transition: { all 0.25s cubic-bezier(.53,.01,.35,1.5))}



/*html {
  font-family: Helvetica , sans-serif;
  font-weight: light;
  -webkit-font-smoothing: antialiased;
}
    
html {
  background-color: rgba(245,76,99,1)
}*/

#signInUpForm {
  position: relative;
  display: inline-block;
  max-width: 500px;
  min-width: 400px;
  box-sizing: border-box;
  padding: 30px 25px;
  background-color: rgba(255,255,255,.92);

  border-radius: 15px;
  margin: 150px 0;
  left: 50%;
  -webkit-transform: translate( -50% , 0 );
  box-shadow: 1px 1px 8px #404040;
  text-align: center;
}
    
  h2 {
    color: #888;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.01em;
    margin-left: 15px;
    margin-bottom: 22px;

  }
      
  button {
    transition: all, 0.25s, cubic-bezier(.53,.01,.35,1.5);
    margin-top: 25px;
    background-color: white;
    border: 1px solid rgba(77, 227, 198, 1);
    line-height: 0;
    font-size: 17px;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px 15px ;
    border-radius: 60px;
    color: rgba(77, 227, 198, 1);
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
    font-family: arial, sans-serif;
  }
    

    button:hover, button:focus, button:active {
      color:white;
      background-color: rgba(77, 227, 198, 1);
      outline:0;
    }

    /*button:focus {
      color:white;
      background-color: $red;}*/

    
  /*.question {
    position: relative;
    padding: 10px 0;}
    
    .question:first-of-type {
      padding-top: 0;
    }
      
    .question:last-of-type{
      padding-bottom: 0;
      }*/
    label {
      transition: all, 0.25s, cubic-bezier(.53,.01,.35,1.5);
      transform-origin: left center;
      color: #888;
      font-weight: 100;
      letter-spacing: 0.01em;
      font-size: 17px;
      box-sizing: border-box;
      padding: 10px 15px;
      display: block;
      position: absolute;
      margin-top: -40px;
      z-index: 2;
      pointer-events: none;
    }
      

    input[type="text"], input[type="password"], input[type="email"] {
      transition: all, 0.25s, cubic-bezier(.53,.01,.35,1.5);
      appearance: none;
      background-color: none;
      border: 1px solid rgba(77, 227, 198, 1);
      line-height: 0;
      font-size: 17px;
      width: 100%;
      display: block;
      box-sizing: border-box;
      padding: 10px 15px;
      border-radius: 60px;
      color: rgba(77, 227, 198, 1);
      font-weight: 100;
      letter-spacing: 0.01em;
      position: relative;
      z-index: 1;
      font-family: arial, sans-serif;
      }

      input:focus {
        outline: none;
        background: rgba(77, 227, 198, 1);
        border: 1px solid rgba(77, 227, 198, 1);
        color: white;
        margin-top: 30px;}
        
      input:valid {
        margin-top: 30px;
      }


      input:focus:invalid {
       border: 1px solid red;
       margin-top: 30px;
      }

          
      input:focus ~ label {
        -webkit-transform: translate( 0 , -35px );
      }
      
      input:valid ~ label {

        text-transform: uppercase;
        font-style: italic;
        -webkit-transform: translate( 5px , -35px ) ;
        -webkit-transform: scale(0.6));}

}

/*#signin {
  position:absolute;
  top: 500px;
  left: 200px;
  background-color: white;
  text-decoration: none;
}*/
