/* BEGIN CSS RESET*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END CSS RESET*/



/* BEGIN layout CSS*/
html, body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	width: 100%;
	min-height: 100%;
	background: url(images/pattern2.jpg) center center repeat;
	background-attachment: fixed;
	-ms-word-break: break-all;
     word-break: break-all;
}
a {
	text-decoration: none;
}
a:hover {
	opacity: .6;
	text-decoration: none;
}
a:visited, a:active, a:link {
	color: black;
}

#flash {
	color:red;
	padding-bottom: 10px;
}

#profileWrapper #flash {
	color: red;
	text-align: center;
	padding-bottom: 30px;
}

#indexWrapper #flash {
	color:#888;
}

#wrapper {
	width: 100%;
	margin: 0 auto; 
    min-height:100%;
}

#header {
	position: fixed;
	top: 0;
	width: 100%;
	min-width: 450px;
	padding-top: 13px;
	padding-bottom: 14px;
	color: white;
	background-color: rgba(77, 227, 198, 1);
	/*background-color: #FFAE59;*/
	box-shadow: 0px 0px 8px #747474;
}
#header li {
	display: inline-block;
	float: right;
	margin-right: 25px;
	font-size: 17px;
	letter-spacing:1px;
	padding-top: 12px;
}
#header a {
	color: white;
}
#header a:hover {
	opacity: .8;
}
#logo {
	width: 80px;
	margin-left: 25px;
	float:left;
}
/* END layout CSS*/


/*BEGIN index CSS*/
#indexWrapper, #signUpWrapper {
	background: url(images/pets.jpg) center center repeat;
	background-size: cover;
	height: 100vh;
	overflow: auto;
}
#signInForm p {
	font-size: 13px;
	color: #888;
}
/* END index CSS*/


/*BEGIN profile CSS*/
#profileWrapper {
	width: 970px;
	margin: 0 auto;
	padding-top: 100px;
	background: rgba(255,255,255,1);
	min-height: auto;
	box-shadow: 0px 0px 6px #b8b8b8;
	position: relative;
	overflow: auto;
}
#profileSidebar, #postFeed, #profileEditContent{
	float: left;
	display: block;
	margin-bottom: 30px;
}
#profileSidebar {
	width: 220px;
	padding-right: 25px;
	padding-left: 30px;
	text-align: center;
	font-weight: bold;
}
#slidedown, #slidedown2 {
	font-weight: normal;
	line-height: 20px;
}
#sidebarLinks li {
	margin-bottom: 5px;
}
#sidebarLinks a {
	color: black;
}
#userProfileWelcome{
	font-size: 20px;
	padding-bottom: 10px;
}
#followerlist, #followinglist {
	cursor: pointer;
	font-weight: bold;
}
#followerlist:hover, #followinglist:hover {
	opacity: .7;
}
#profilePic {
	width: 218px;
	height: 218px;
	background: url(images/profile_pic.jpg);
	background-size: cover;
	border-radius: 100%;
	margin-bottom: 10px;
	border: 2px solid rgba(77, 227, 198, 1);
}
#profilePicUser {
	width: 218px;
	height: 218px;
	background: url(images/profile_pic.jpg);
	background-size: cover;
	border-radius: 100%;
	margin-bottom: 10px;
	border: 2px solid rgba(77, 227, 198, 1);
}


#postFeed, #profileEditContent {
	padding-left: 25px;
	border-left: 1px dashed #888;
	min-height: 400px;
}
#write{
    height:100px;
    width:600px;
    max-width: 600px;
    background-color: white;
	border: 1px solid rgba(77, 227, 198, 1);
	padding: 10px 15px;
	border-radius: 10px;
	font-family: arial, sans-serif;
	color: #888;
	font-size: 14px;
}
#write:focus {
	outline: none;
}

#post_submit, #follow_button, #delete_account, #make_changes, #follow_button2 {
	position: relative;
    margin: 8px 0 0px 0;
    background-color: white;
    border: 1px solid rgba(77, 227, 198, 1);
    line-height: 0;
    font-size: 17px;
    display: inline-block;
    padding: 20px 15px ;
    border-radius: 60px;
    color: rgba(77, 227, 198, 1);
    font-weight: 100;
    letter-spacing: 0.01em;
    font-family: arial, sans-serif;
}
#post_submit:hover, #post_submit:focus, #post_submit:active {
      color:white;
      background-color: rgba(77, 227, 198, 1);
      outline:0;
}
#follow_button {
    margin-bottom: 15px;
    background-color: rgba(77, 227, 198, 1);
    font-size: 17px;
    padding: 17px 12px;
    border-radius: 60px;
    color: white;
}

#follow_button2 {
    margin-bottom: 15px;
    background-color: rgba(77, 227, 198, 1);
    font-size: 17px;
    padding: 17px 12px;
    border-radius: 60px;
    color: white;
}
#follow_button:hover, #follow_button:focus, #follow_button:active {
      color:rgba(77, 227, 198, 1);
      background-color: white;
      border: 1px solid rgba(77, 227, 198, 1);
      outline:0;
}

#follow_button2:hover, #follow_button2:focus, #follow_button2:active {
      color:rgba(77, 227, 198, 1);
      background-color: white;
      border: 1px solid rgba(77, 227, 198, 1);
      outline:0;
}
.post {
	width:600px;
	/*background-color: white;*/
	padding: 20px 15px;
	/*border-radius: 10px;
	margin-bottom: 20px;
	border: 1px solid rgba(77, 227, 198, 1);*/
	/*border-top: 1px solid rgba(77, 227, 198, 1);*/
	border-bottom: 1px solid #888;
	font-size: 14px;
}
.postDetails li {
	display:inline;
	font-size: 17px;
	font-weight: bold;
	padding-bottom: 12px;
}
.postsUname {
	float: left;
}
.postsDatetime{
	float: right;
	color: #888;
}
.postsBody {
	clear: both;
}

#slidedown, #slidedown2 {

	border: 2px solid rgba(77, 227, 198, 1);
	border-radius: 10px;
	width: 150px;
}

/*END profile CSS*/

/*BEGIN profile_edit CSS*/
#postFeed h2, #profileEditContent h2{
	font-size: 26px;
	color:#888;
	padding-bottom: 20px;
}

#profileEditContent {
	width:600px;
}

.profileEditForm button {
	border-color: red;
	color: red;
	margin: 0;
	clear: both;
}
.profileEditForm button:hover {
	border-color: red;
	background-color: red;
	color:white;
}

.profileEditForm label {
      letter-spacing: 0.01em;
      font-size: 17px;
      pointer-events: none;
    }
      

.profileEditForm input[type="text"], .profileEditForm input[type="password"], .profileEditForm input[type="email"] {
      background-color: none;
      border: 1px solid rgba(77, 227, 198, 1);
      font-size: 17px;
      width: 100%;
      padding: 10px 15px;
      border-radius: 60px;
      color: rgba(77, 227, 198, 1);
      font-weight: 100;
      letter-spacing: 0.01em;
      font-family: arial, sans-serif;
      margin: 12px 0 25px 0;
      }

.profileEditForm input:focus {
	outline: none;
	background: rgba(77, 227, 198, 1);
	border: 1px solid rgba(77, 227, 198, 1);
	color: white;
}
        
.profileEditForm input:focus:invalid {
	border: 1px solid red;
}
#delete_account{
	border: 1px solid red;
	color:red;
	margin-left: 10px
}
#delete_account:hover, #delete_account:focus, #delete_account:active {
      color:white;
      background-color: red;
      outline:0;
}
#make_changes {
	margin-bottom: 20px;
}
#make_changes:hover, #make_changes:focus, #make_changes:active {
      color:white;
      background-color: rgba(77, 227, 198, 1);
      outline:0;
}
/*END profile_edit CSS*/





